<?php
/**
 * zf2-sphinxsearch-tool
 *
 * @link        https://github.com/ripaclub/zf2-sphinxsearch-tool
 * @copyright   Copyright (c) 2014,
 *              Leonardo Di Donato <leodidonato at gmail dot com>
 *              Leonardo Grasso <me at leonardograsso dot com>
 * @license     http://opensource.org/licenses/BSD-2-Clause Simplified BSD License
 */
return [
    'defaults' => [
        'variables' => [
            'log_path'      => '/var/log/sphinx/',
            'lib_path'      => '/var/lib/sphinx/',
            'run_path'      => '/var/run/sphinx/',
            'idx_path'      => '/var/idx/sphinx/',
        ],
        'sections' => [
            'searchd' => [
                'listen'        => '9306:mysql41',
                'log'           => '{log_path}searchd.log',
                'query_log'     => '{log_path}query.log',
                'binlog_path'   => '{lib_path}',
                'pid_file'      => '{run_path}searchd.pid',
                'sphinxql_state'=> '{run_path}state.sql',
                'workers'       => 'threads'
            ],
            'indexer' => [
                'mem_limit'     => '512M',
                'write_buffer'  => '16M',
            ]
        ],
    ],
    'configs' => [
        'config_name' => [
            'sections' => [
                'searchd' => [],
                'indexer' => [],
            ],
            'sources' => [
            ],
            'indexes' => [
                'index_name' => [
                    'fields' => [

                    ],
                    'attributes' => [

                    ],
                    'settings' => [

                    ]
                ]
            ],
        ],
    ],
];